@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
#ext_menu-r .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-r.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-r .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box4-3 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-3 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3 .mbr-article {
  color: #ffffff;
}
#msg-box5-6 .mbr-header__text {
  color: #3c3c3c;
}
#msg-box5-6 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-6 .mbr-article {
  color: #ffffff;
}
#msg-box5-6 .mbr-article P {
  color: #3c3c3c;
}
#content5-c .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-c .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-c .mbr-article {
  color: #fff;
}

#dropdown-menu-n .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-n .nav .link,
#dropdown-menu-n .dropdown-item {
  font-size: 0.8em;
  color: #2c2c2c;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-n .navbar,
#dropdown-menu-n .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-n .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-n .dropdown-menu a:hover,
#dropdown-menu-n .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-n .navbar-toggler {
  color: #2c2c2c;
}
